<ag-grid-angular
    #agGrid
    style="width: 100%; height: 50%;"
    class="ag-theme-alpine"
    [rowData]="rowData | async "
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
    
</ag-grid-angular>
<hr>
<hr>
<hr>
<section>
    <button mat-stroked-button color="primary" [routerLink]="['new']" >Add Post</button>
    <button mat-stroked-button color="accent" (click)='navToedit()' >Edit Selcted Posts</button>
    <button mat-stroked-button color="warn" (click)='delete()' >Delete Selcted Posts</button>
</section>

<router-outlet></router-outlet>
